<!DOCTYPE html>
<html lang=zh-tw>
<head>
	<%- include ../_partials/HEAD %>
</head>
<body>

<div class="panel top mb-5">
		<%- include ../_partials/nav %>
		<%- include ../_partials/header %>
</div>
<div class="panel bottom">

	<%- contents %>
	<%- include ../_partials/footer %>

</div>
</body>
</html>