<!DOCTYPE html>
<html lang=zh-tw>
<head>
	<%- include ../_partials/HEAD %>
</head>
<body>

<div class="top mb-5">
		<%- include ../_partials/nav %>
		<%- include ../_partials/header %>
</div>
<div class="pt-3">

	<%- contents %>

</div>
<div class="bottom pt-3">

     <%- include ../_partials/footer %>

</div>
</body>
</html>