<!DOCTYPE html>
<html lang=zh-tw>
<head>
	<%- include ../_partials/HEAD %>
</head>
<body>

<div class="panel top">
		<%- include ../_partials/nav %>
		<%- include ../_partials/header %>
</div>
	<%- contents %>

	<!--<%- include ../_partials/footer %>-->
</body>
</html>