<!DOCTYPE html>
<html lang=zh-tw>
<head>
	<%- include ../_partials/HEAD %>
</head>
<body>
	<%- include ../_partials/header %>

	<%- include ../_partials/nav %>

	<%- contents %>

	<%- include ../_partials/footer %>
</body>
</html>