---
title: index
layout: ./source/_layouts/layout.ejs
description: MOPCON index
css: ['all.css']
js: ['bootstrap.js']
socialItems:
  - socialType: socialIcon
    iconURL:
  - socialType: socialIcon
    iconURL:
  - socialType: socialIcon
    iconURL:
  - socialType: socialIcon
    iconURL:

speakerData:
  - speaker: speakerInfo
    imgURL:
    name: Akane Lee
    title: 嫁給RD的UI
  - speaker: speakerInfo
    imgURL:
    name: 黃敬群(jserv)
    title: 成功大學助理教授
  - speaker: speakerInfo
    imgURL:
    name: 翟本喬
    title: 和沛移動總經理
  - speaker: speakerInfo
    imgURL:
    name: 黃宇軒
    title: 主治醫師 / 資訊工程博士候選人
  - speaker: speakerInfo
    imgURL:
    name: 田哲禹 James Tien
    title: Google Cloud 台灣區經理
  - speaker: speakerInfo
    imgURL:
    name: OA
    title: 假裝一下

sponsorData:
  - sponsor: sponsorLogo
    logoURL:
  - sponsor: sponsorLogo
    logoURL:
  - sponsor: sponsorLogo
    logoURL:
  - sponsor: sponsorLogo
    logoURL:
  - sponsor: sponsorLogo
    logoURL:
  - sponsor: sponsorLogo
    logoURL:
  - sponsor: sponsorLogo
    logoURL:
  - sponsor: sponsorLogo
    logoURL:
  - sponsor: sponsorLogo
    logoURL:
  - sponsor: sponsorLogo
    logoURL:

engine: ejs
---

<div>
    <div class="speaker">
        <div class="col-2 offset-md-5 content-title mb-lg-5">
            講者
        </div>
        <div id="carouselExampleIndicators" class="carousel slide col-8 offset-md-2" data-ride="carousel">
            <div class="carousel-inner mb-5">
                <div class="carousel-item active">
                    <div class="speaker-info pb-5">
                        <% for(var i = 0; i < speakerData.length; i++) { %>
                        <div>
                            <div class="speaker-info img mb-4">
                                <%= speakerData[i].imgURL %>
                            </div>
                            <p class="mb-3">
                                <%= speakerData[i].name %>
                            </p>
                            <p>
                                <%= speakerData[i].title %>
                            </p>
                        </div>
                        <% } %>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#" data-slide-to="0" class="active"></li>
                    <li data-target="#" data-slide-to="1"></li>
                    <li data-target="#" data-slide-to="2"></li>
                </ol>
            </div>
        </div>
    </div>

    <div class="col-2 offset-md-5 content-title mb-lg-5">
        贊助廠商
    </div>
    <div class="sponsor">
        <div id="carouselExampleIndicators" class="carousel slide col-8 offset-md-2" data-ride="carousel">
            <div class="carousel-inner mb-5">
                <div class="carousel-item active">
                    <div class="sponsor-info pb-lg-5">
                        <% for(var i = 0; i < sponsorData.length; i++) { %>
                        <div class="mx-lg-5 my-lg-4">
                            <div class="sponsor-info img">
                                <%= sponsorData[i].logoURL %>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#" data-slide-to="0" class="active"></li>
                    <li data-target="#" data-slide-to="1"></li>
                    <li data-target="#" data-slide-to="2"></li>
                </ol>
            </div>
        </div>
    </div>

    <%- include ./_partials/footer %>
    <div class="col-2 offset-md-5 mb-lg-5">
        <div class="footer-social">
            <% for(var i = 0; i < socialItems.length; i++) { %>
            <div>
                <%= socialItems[i].iconURL %>
            </div>
            <% } %>
        </div>
    </div>
</div>