---
title: index
layout: ./source/_layouts/layout.ejs
description: MOPCON footer
css: ['all.css', 'owl.carousel.min.css']
js: ['bootstrap/bootstrap.js',plugin/jquery.scrollify.js,plugin/particles.min.js,plugin/stats.js,plugin/owl.carousel.min.js]
socialItems:
  - socialType: socialIcon
    iconURL: './assets/images/social/fb.svg'
  - socialType: socialIcon
    iconURL: './assets/images/social/flickr-logo-of-two-dots.svg'
  - socialType: socialIcon
    iconURL: './assets/images/social/google-plus.svg'
  - socialType: socialIcon
    iconURL: './assets/images/social/twitter-logo-silhouette.svg'

speakerData:
  - speaker: speakerInfo
    imgURL: './assets/images/speakers/akanelee.jpg'
    name: Akane Lee
    title: 嫁給RD的UI
  - speaker: speakerInfo
    imgURL: './assets/images/speakers/benjai.jpg'
    name: 翟本喬
    title: 和沛移動總經理
  - speaker: speakerInfo
    imgURL: './assets/images/speakers/jservhuang.jpg'
    name: 黃敬群(jserv)
    title: 成功大學助理教授
  - speaker: speakerInfo
    imgURL: './assets/images/speakers/yushhuang.jpg'
    name: 黃宇軒
    title: 主治醫師 / 資訊工程博士候選人
  - speaker: speakerInfo
    imgURL: './assets/images/speakers/jamestien.jpg'
    name: 田哲禹 James Tien
    title: Google Cloud 台灣區經理
  - speaker: speakerInfo
    imgURL: './assets/images/speakers/oawu.jpg'
    name: OA
    title: 我是 OA，是一名網頁工程師

sponsorData:
  - sponsor: sponsorLogo
    logoURL: './assets/images/sponsors/AWS.png'
  - sponsor: sponsorLogo
    logoURL: './assets/images/sponsors/Dcard.png'
  - sponsor: sponsorLogo
    logoURL: './assets/images/sponsors/kkbox.png'
  - sponsor: sponsorLogo
    logoURL: './assets/images/sponsors/OathYahoo.png'
  - sponsor: sponsorLogo
    logoURL: './assets/images/sponsors/PuloApp.png'
  - sponsor: sponsorLogo
    logoURL: './assets/images/sponsors/Pumo.png'
  - sponsor: sponsorLogo
    logoURL: './assets/images/sponsors/Webduino.png'
  - sponsor: sponsorLogo
    logoURL: './assets/images/sponsors/tkbeer.png'
  - sponsor: sponsorLogo
    logoURL: './assets/images/sponsors/GoogleCloud.png'
  - sponsor: sponsorLogo
    logoURL: './assets/images/sponsors/AWS.png'

engine: ejs
---

<div class="panel bottom">
    <div class="speaker" >
        <div class="row">
            <div class="col-md-2 offset-md-5 content-title mb-lg-5">
                講者
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="owl-carousel speaker-carousel col-8">
                    <% for(var i = 0; i < speakerData.length; i++) { %>
                    <div class="speaker-info item">
                        <img class="speaker-img w-75 h-75 m-auto" src="<%= speakerData[i].imgURL %>">
                        <h2 class="mt-4">
                        <%= speakerData[i].name %>
                        </h2>
                        <h2>
                         <%= speakerData[i].title %>
                        </h2>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>
    <div class="sponsor mt-5">
        <div class="row">
            <div class="col-md-4 offset-md-4 content-title mb-lg-5">
                贊助廠商
            </div>
        </div>
        <div id="carouselSponsor" class="carousel slide pb-lg-5" data-ride="carousel">
            <ol class="carousel-indicators my-0">
                <li data-target="#carouselSponsor" data-slide-to="0" class="active"></li>
                <li data-target="#carouselSponsor" data-slide-to="1"></li>
                <li data-target="#carouselSponsor" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item  active">
                    <div class="d-flex justify-content-center">
                        <div class="sponsor-info">
                            <% for(var i = 0; i < sponsorData.length; i++) { %>
                                <div class="mx-lg-5 my-lg-4">
                                    <img class="sponsor-info img" src="<%= sponsorData[i].logoURL %>">
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <div class="sponsor-info">
                        <% for(var i = 0; i < sponsorData.length; i++) { %>
                            <div class="mx-lg-5 my-lg-4">
                                <img class="sponsor-info img" src="<%= sponsorData[i].logoURL %>">
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
                <div class="carousel-item ">
                    <div class="d-flex justify-content-center">
                        <div class="sponsor-info">
                            <% for(var i = 0; i < sponsorData.length; i++) { %>
                                <div class="mx-lg-5 my-lg-4">
                                    <img class="sponsor-info img" src="<%= sponsorData[i].logoURL %>">
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include ./_partials/footer %>
    <div class="row d-flex justify-content-center mb-4">
        <div class="col-8 col-sm-6">
            <div class="footer-social">
                <% for(var i = 0; i < socialItems.length; i++) { %>
                    <div>
                        <img src="<%= socialItems[i].iconURL %>">
                    </div>
                    <% } %>
            </div>
        </div>
    </div>
</div>